.main-container{
  padding-left:20px;
  padding-right:20px;
}

a.github_links{
  font-style: italic;
}
a.project-container-link{
  text-decoration: none;
  color:black;
}
div.project{
  border: 1px normal black;
}